[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
tensorflow = "*"
keras = "*"
opencv-python = "*"
h5py = "*"
imgaug = "*"
ipython = {extras = ["all"], version = "*"}
Pillow = "*"
Cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
